</div>
    
<footer class="bg-dark text-light text-center py-4 animate__animated animate__fadeInUp">
    <div class="container">
        <p class="mb-3">&copy; <%= new Date().getFullYear() %> Wick Studio. All rights reserved.</p>
        <div class="d-flex justify-content-center">
            <a href="https://github.com/wickstudio" target="_blank" rel="noopener noreferrer" class="mx-3 footer-icon">
                <i class="fab fa-github fa-lg"></i>
            </a>
            <a href="https://discord.gg/wicks" target="_blank" rel="noopener noreferrer" class="mx-3 footer-icon">
                <i class="fab fa-discord fa-lg"></i>
            </a>
            <a href="https://www.instagram.com/mik__subhi/" target="_blank" rel="noopener noreferrer" class="mx-3 footer-icon">
                <i class="fab fa-instagram fa-lg"></i>
            </a>
        </div>
    </div>
</footer>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
<script src="/js/scripts.js"></script>
</body>
</html>
